<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Table Generator</title>
  <link rel="stylesheet" href="static/app.css">
</head>
<body>
  <h1 style="font-size: 30px;">
    <p style="font-size: 30px;">Enter 2 or more options followed by characteristics to compare them on:</p>
    <form id="table_form" class="table_form">

      <p>
        <label for="options" style="font-size: 18px;">Options:</label>
        <input title="Options" type="text" name="options" id="options">
      </p>

      <p>
        <label for="characteristics" style="font-size: 18px;">Characteristic(s)</label>
      <input type="text" name="characteristics" id="characteristics">
      </p>

      <button class="button2" style="width: 100px; text-align: center">Generate</button>
    </form>
  </h1>
  <div class="container">
    <img id="chart-img" src="" >
  </div>
  <script src="static/bar_chart.js"></script>
</body>
</html>
